.react-calendar-timeline {
  * {
    box-sizing: border-box;
  }
}

.react-calendar-timeline .rct-outer {
  display: block;
  overflow: hidden;
  white-space: nowrap;
}

.react-calendar-timeline .rct-scroll {
  display: inline-block;
  white-space: normal;
  vertical-align: top;
  overflow-x: scroll;
  overflow-y: hidden;
  -ms-touch-action: none;
  touch-action: none;
}

.react-calendar-timeline .rct-header-root {
  background: #c5c5c5;
  border-bottom: 1px solid #bbb;
}

.react-calendar-timeline .rct-calendar-header {
  border: 1px solid #bbb;
}

.react-calendar-timeline .rct-date-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-left: 1px solid #bbb;
  cursor: pointer;
  font-size: 12px;
  background-color: #f0f0f0;
  border-bottom: 1px solid #bbb;
}

.react-calendar-timeline .rct-date-header-primary {
  background-color: initial;
  color: #fff;
  font-weight: bold; 
  background-color: #777; /* ปรับสี header แถวบน */
}

.react-calendar-timeline .rct-header-root {
    background: #fdfdfd;
    border-bottom: 1px solid #e5e7eb;
}

.react-calendar-timeline .rct-sidebar {
  display: inline-block;
  vertical-align: top;
  position: relative;
  border-right: 1px solid #bbb;
  box-sizing: border-box;
  overflow: hidden;
}

.react-calendar-timeline .rct-sidebar .rct-sidebar-row {
  padding: 0 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  box-sizing: border-box;
  margin: 0;
  border-bottom: 1px solid #bbb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #333;
}

.react-calendar-timeline .rct-vertical-lines .rct-vl {
  position: absolute;
  border-left: 1px solid #bbb;
  z-index: 30;
}
.react-calendar-timeline .rct-vertical-lines .rct-vl.rct-vl-first {
  border-left-width: 2px;
}
.react-calendar-timeline .rct-vertical-lines .rct-day-6,
.react-calendar-timeline .rct-vertical-lines .rct-day-0 {
  background: rgba(250, 246, 225, 0.5); /* สีพื้นหลังวันเสาร์-อาทิตย์ */
}

.react-calendar-timeline .rct-horizontal-lines .rct-hl-even,
.react-calendar-timeline .rct-horizontal-lines .rct-hl-odd {
  border-bottom: 1px solid #bbb;
  box-sizing: border-box;
  z-index: 40;
}

.react-calendar-timeline .rct-cursor-line {
  position: absolute;
  width: 2px;
  background: #2196f3;
  z-index: 51;
}

.react-calendar-timeline .rct-items .rct-item {
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  font-size: 12px;
  color: white;
  cursor: pointer;
  z-index: 80;
  border-radius: 4px;
}

.react-calendar-timeline .rct-items .rct-item .rct-item-content {
  padding: 0 6px;
  height: 100%;
  display: flex;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Custom Style เพิ่มเติมเพื่อให้เข้ากับธีม */
.react-calendar-timeline .rct-sidebar-header {
    border-right: 1px solid #bbb;
    background-color: #f3f4f6;
    color: #374151;
    font-weight: bold;
}